body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
    color: white;
    /* font-weight: bold; */
    font-size: 24px;
    text-decoration: none;
}

.header {
  /* height: 72px; */
  padding: 16px 10px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.content {
    flex-grow: 2;
    display: flex;
}

.footer {
  /* height: 72px; */
  background: #eee;
  color: darkmagenta;
  text-align: center;
  padding: 26px;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  flex: 1 0 300px;
  padding: 16px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 250px;
  padding: 20px;
  height: 250px;
}