body {
  background: #eee;
  font-family: sans-serif;
}

.title,
.content,
.button-container {
  margin-top: 10px;
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: large;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 25px;
  margin: auto;
}